**/target
**/refs
**/out/*.rs
*.bin
*.lock
*.pem
*.db
*.db-shm
*.db-wal
resource/master/*.json
resource/master/version.txt
__pycache__

# sample for inspector
!rpc.api.User_Get_20260801_135435_258_RESP_0.bin
